@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/robotoregular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --link: #0000ee;
  --hover: #551a8b;
  --font-family: "Roboto", sans-serif;
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: "Roboto";
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

/****************************************
*    Components - Common
*****************************************/
/* Home */
.grid-container {
  display: grid;
  grid-template-columns: fit-content 1px auto;
  grid-template-rows: max-content 1fr 5vh;
  grid-row-gap: 1em;
  align-items: start;
  height: 100vh;
  grid-template-areas:
    "nav . contact"
    "header main home-img";
}

/* Header */
.header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 1em 0;
  padding-right: 4px;
}

/* Main */
.main {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border-top: 1px solid var(--black);
  padding: 1em 2em;
}

.linea-vertical {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  max-height: 100%;
}

/* Nav */
.hide {
  display: none;
}

/* Contact */
.contact {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: center;
  padding: 1em 1em 0 0;
}

.contact a {
  color: var(--black);
}

@media screen and (min-width: 40em) {
  .contact {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    padding: 1em 1em 0 0;
  }

  .contact a {
    color: var(--black);
  }
}
/* Footer */
.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  justify-self: end;
  padding-right: 1em;
}

@media screen and (min-width: 40em) {
  .grid-container {
    grid-template-columns: 70px 5fr 4fr;
    grid-template-rows: min-content 9fr;
  }

  #menu-toggle {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  .header {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    text-align: right;
    align-self: center;
  }

  .main {
    display: flex;
    grid-column: 2/4;
    grid-row: 2;
    width: 100%;
  }
  .main p {
    max-width: 50%;
  }

  .main img {
    width: 100%;
  }
}

/****************************************
*    Proyectos
*****************************************/
@media screen and (min-width: 40em) {
  .proyecto .main {
    display: flex;
    grid-column: 2/4;
    grid-row: 2;
    width: 100%;
    padding: 1em 0 1em 1em;
  }

  .proyecto .main img {
    min-width: 584px;
  }
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
